//
   Created by Administrator on 2016-2-24.
doctype html
html(lang="en")
    head
        - var name = '管理'
        title= name
        - var allpi = pi
        - var allci = ci
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css" href="/stylesheets/style.css")
        link(rel="stylesheet", type="text/css" href="/stylesheets/tanchuceng.css")
        link(rel="stylesheet", type="text/css" href="/stylesheets/normalize.v3.0.3.css ")
        script(src="/javascripts/jquery-2.2.1.js")
        script.


    body
        div.all
            div.left
                div.title
                    a(href="http://localhost:27017/manager.html")
                        h1 myphoto
                div.newclass
                    button.classbtn new class
                div.classbox
                    ul.classlist
                        li.classitem.this(data-c="") 全部

            div.right
                div.uploaddiv
                    form(action="/file_upload" method="post" enctype="multipart/form-data").uploadform
                        input(type="hidden" value="" name='classname')
                        input(type="file" name="image" size="50").filebtn
                        input(type="submit" value="upload photo").uploadbtn
                div.showbox.btcf
                    - for (var x=0; x < allpi.length; x++)
                        div.showitem.btcf
                            div.showimg
                                img(src="images/"+allpi[x].realname, alt=allpi[x].name)
                            div.showother
                                button.showbtn ···
                                div.shownamediv
                                    span.showname=allpi[x].name
                                div.btndiv
                                    button.editbtn update
                                    form(action="/image_del" method="post").delform
                                        input(type="hidden" value=allpi[x]._id name='id')
                                        button(type="submit" value="delete") delete

script(src="/javascripts/tanchuceng.js")
script(src="/javascripts/classfun.js")
script(src="/javascripts/pageinit.js")

