//
   Created by Administrator on 2016-2-24.
doctype html
html(lang="en")
    head
        - var name = '管理'
        title= name
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css" href="/stylesheets/style.css")
        link(rel="stylesheet", type="text/css" href="/stylesheets/normalize.v3.0.3.css ")
    body
        div.all
            div.left
                div.title
                    h1 myphoto
                div.newclass
                    button.classbtn new class
                div.classbox
                    ul.classlist
                        li.classitem c1 (num1)
                        li.classitem c2 (num2)
                        li.classitem c3 (num3)
                        li.classitem c4 (num4)
                        li.classitem c5 (num5)
            div.right
                div.upload
                    button.uploadbtn upload photo
                div.showbox
                    div.showitem
                        div.showimg
                            img(src="", alt="")
                        div.showother
                            span.showname imgname1
                            button.showbtn ...
                    div.showitem
                        div.showimg
                            img(src="", alt="")
                        div.showother
                            span.showname imgname2
                            button.showbtn ...
                    div.showitem
                        div.showimg
                            img(src="", alt="")
                        div.showother
                            span.showname imgname3
                            button.showbtn ...
                    div.showitem
                        div.showimg
                            img(src="", alt="")
                        div.showother
                            span.showname imgname4
                            button.showbtn ...
                    div.showitem
                        div.showimg
                            img(src="", alt="")
                        div.showother
                            span.showname imgname5
                            button.showbtn ...
                    div.showitem
                        div.showimg
                            img(src="", alt="")
                        div.showother
                            span.showname imgname6
                            button.showbtn ...
                    div.showitem
                        div.showimg
                            img(src="", alt="")
                        div.showother
                            span.showname imgname7
                            button.showbtn ...
                    div.showitem
                        div.showimg
                            img(src="", alt="")
                        div.showother
                            span.showname imgname8
                            button.showbtn ...

