//
   Created by Administrator on 2016-2-24.
doctype html
html(lang="en")
    head
        - var name = '管理'
        title= name
        - var gp = result
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css" href="/stylesheets/style.css")
        link(rel="stylesheet", type="text/css" href="/stylesheets/normalize.v3.0.3.css ")
        script(src="/javascripts/jquery-2.2.1.js")
        script.
            var createshowitem = function(str){
                var text="<div class=\"showitem\"><div class=\"showimg\"><img src=\"\" alt=\"\"></div><div class=\"showother\"><span class=\"showname\"></span><form action=\"/image_del\" method=\"post\" class=\"delform\"><input type=\"hidden\" value=\"\" name=\"id\"><input type=\"submit\" value=\"delete\"></form></div></div>";
                $(str).append(text);
            };
            $(document).ready(function () {
                $('.classitem').click(function (e) {
                    var thisc = $(this).attr("data-c");
                    e.preventDefault();

                    $.ajax({
                        url: "http://localhost:27017/classimage",
                        async: false,
                        data: {"classname":thisc},
                        success: function (result) {
                            $(".showbox").empty();
                            for(var i=0; i < result.length; i++ ) {
                                createshowitem(".showbox");
                                var j = i + 1;
                                var nowshowitem = $(".showbox>.showitem:nth-child(" + j + ")");
                                nowshowitem.find(".showimg>img").attr({"src": "images/" + result[i].realname,"alt": result[i].name});
                                nowshowitem.find(".showname").html(result[i].name);
                                nowshowitem.find(".delform>input:first-child").attr({"value": result[i]._id});
                            }
                        }
                    });
                });
            });

    body
        div.all
            div.left
                div.title
                    a(href="http://localhost:27017/manager.html")
                        h1 myphoto
                div.newclass
                    button.classbtn new class
                div.classbox
                    ul.classlist
                        li.classitem(data-c="") 全部
                        li.classitem(data-c="人物") 人物 (num1)
                        li.classitem(data-c="漫画") 漫画 (num2)
                        li.classitem c3 (num3)
                        li.classitem c4 (num4)
                        li.classitem c5 (num5)
            div.right
                div.uploaddiv
                    form(action="/file_upload" method="post" enctype="multipart/form-data").uploadform
                        input(type="file" name="image" size="50").filebtn
                        input(type="submit" value="upload photo").uploadbtn
                div.showbox
                    - for (var x=0; x < gp.length; x++)
                        div.showitem
                            div.showimg
                                img(src="images/"+gp[x].realname, alt=gp[x].name)
                            div.showother
                                span.showname=gp[x].name
                                form(action="/image_del" method="post").delform
                                    input(type="hidden" value=gp[x]._id name='id')
                                    input(type="submit" value="delete")



