//
   Created by Administrator on 2016-2-24.
doctype html
html(lang="en")
    head

        - var gp = result
    body
                    - for (var x=0; x < gp.length; x++)
                    div.showitem
                        div.showimg
                            img(src="images/"+gp[x].realname, alt=gp[x].name)
                        div.showother
                            span.showname=gp[x].name
                            form(action="/image_del" method="post").delform
                                input(type="hidden" value=gp[x]._id name='id')
                                input(type="submit" value="delete")



