button {
  outline: none;
}
.btcf:before,
.btcf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.btcf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.btcf {
  *zoom: 1;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
.all {
  /*max-width: 1200px;*/
  margin: 49px 0 auto;

}

/*左侧：网站标题、图片列表*/
.left {
  float: left;
  width:30%;
  padding-bottom: 100%;

  background-color: rgba(0,0,0,1.0);
}
/*headet 网站标题*/
.sitetitle {
  text-align: center;
  background-color: rgba(255,255,255,1.0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.sitetitle>a {
  display: block;
  width: 30%;
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px solid rgba(255,255,255,.2);
  font-size: 2em;
  color: rgba(245,222,179,1.0);
  background-color: rgba(0,0,0,1.0);
  text-decoration: none;
}
/*增加分类*/
.creclass {
  position: relative;
  text-align: center;
  display: block;
  height: 120px;
  overflow: hidden;
}
/*newclass按钮 点击显示怎加分类的input*/
.newclassbtn{
  /*width: 75%;*/
  height: 30px;
  background-color: rgba(0,0,0,1.0);
  color: rgba(255,255,255,1.0);
  /*border-radius: 3px;*/
  border: 0px solid rgba(255,255,255,1.0);
  z-index: 2;
  padding-right: 20px;
}
.newclassbtn i{
  margin: 0 5px;
}
/*增加分类的input*/
.hidnewclass {
  background-color: rgba(0,0,0,1.0);
  z-index: 3;
  display: none;
  padding: 100%;
  width: 80%;
}
/*绝对居中*/
.abscenter {
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
/*新增分类输入框*/
.creclassname {
  display: block;
  height: 26px;
  margin: 15px 0;
  border: none;
  text-align: center;
  width: 100%;
  outline: none;
}
/*新增分类确定&取消按钮*/
.creclassbtn, .hidcreclassbtn{
  margin: 0 10px;
  padding: 3px 10px;
  background-color: rgba(0,0,0,1.0);
  color: rgba(255,255,255,1.0);
  border-radius: 0;
  border: none;
  font-size: 24px;
}
/*分类列表区域*/
.showclass {
  text-align: center;
}
/*分类列表*/
.classlist {
  padding-left: 0;
  border-top: 1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(255,255,255,.2);
}
/*被选中的分类*/
.classlist .this {
  color: rgba(0,0,0,1.0) !important;
  background-color: rgba(255,255,255,1.0);
  cursor: default !important;
}
/*所有分类*/
.classlist .classitem{
  padding: 25px 0;
  list-style-type: none;
  border-top: 1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(255,255,255,.2);
  color: rgba(255,255,255,1.0);
  cursor: pointer ;
  position: relative;
  overflow: hidden;
}


.hiduc {
  margin-top: 5px;
  width: 80%;
  background-color: rgba(0,0,0,1.0);
  z-index: 3;
  display: none;
  padding: 100%;
}
.hiduc button{
  margin: 1px 10px;
  padding: 3px 10px;
  background-color: rgba(0,0,0,1.0);
  color: rgba(255,255,255,1.0);
  border-radius: 0;
  border: none;
  font-size: 20px;
}
.udpclassname {
  text-align: center;
  width: 100%;
  outline: 0;
  border: 0;
  padding: 3px;
}

.updclass, .delclass {
  position: absolute;
  padding: 0;
  background-color: transparent;
  left: 100%;
  top: 50%;
  top: 50%;
  border: 0 solid gray;
  font-size: 22px;
  margin-left: -25px;
}
.updclass {
  margin-top: -25px;
}
.delclass {

  margin-top: 5px;
}

.right {
  width: 70%;
  float: right;
  padding-bottom: 100%;
  background-color: rgba(255,255,255,1.0);
  position: relative;
  z-index: 5;
}
.crepicture {
  height: 60px;
  margin: 20px 0;
}
.uploadform {
  float: right;
}
.filebtn, .uploadbtn {
  background-color: rgba(44,48,73,1.0);
  color: rgba(255,255,255,1.0);
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
}
.uploadbtn {
  margin-right: 30px;
  height: 27px;
}
.showpicture{
  position: relative;
}
.showitem {
  margin: 14px 7px 0 7px;
  width: 236px;
  background-color: rgba(255,255,255,1.0);
  display: inline-block;
  position: relative;
}
.showitem img {
  width: 100%;
}
.showitem:hover .showother{
  display: block;
}

.showother {
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  display: none;
}

.shownamediv {
  text-align: center;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  padding: 4% 0;
  border-bottom: 2px solid rgba(255,255,255,1.0);
}
.showname {
   color: rgba(0,0,0,1.0);
 }
/*.showbtn {
  float: right;
  margin-right: 5px;
  border:0;
  background-color: transparent;
  color: rgb(0,0,0);
}
.showbtn:focus {
  border: 0;
}*/
.showbtns {
  text-align: center;
}


.showbtns button{
  width: 50%;
  display: inline-block;
  border: 0;
  float: left;
  padding: 3% 0;
  background-color: transparent;
}.showbtns button:hover{
   background-color: rgba(0,0,0,0.8);
 }
.updpicture {

}
.delpicture {

}

.classBottom, .classTop {
  height: 120px;
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  border: 1px solid rgba(245,222,179,1.0);
  position: fixed;
  left: 0;
  z-index: 4;
}
.classTop{
  top: 49px;
}
.classBottom{
  bottom: 0;
}
